__pycache__
**/__pycache__
*.pyc
*.pyo
*.pyd
.env
.git
.gitignore
db.sqlite3
media
staticfiles
venv
.venv
myenv
**/venv
**/.venv
**/myenv
Microsoft
**/Microsoft
.sixth
ecommerce/staticfiles
ecommerce/runserver.*.log
